@import url("https://v1.fontapi.ir/css/Yekan");
$font-stack: "yekan";

body{
    font-family: $font-stack;


}

:root{
    --buton-color:red;
    


    
}







.borderhigh{
    width: 1.3%;
    height:90%;
    background-color: #FF5F37;
}
.high{
  background-color: #FFE2DB;  
  width: 50px;
  color: #FF5F37;
  font-size: 12px;
}
.bordermidel{
    background-color: #FFAF37;
}
.midel{
    background-color:#FFE2DB;  
  width: 50px;
  color: #FFAF37;
  font-size: 12px;
}
.borderlower{
    background-color: #11A483;
}
.lower{
    background-color:#C3FFF1;  
    width: 50px;
    color: #11A483;
    font-size: 12px;

}

.mystyle{

text-decoration: line-through;
}


.checkboxuser{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content:center;
}
.inputUser{
    // d-flex flex-row h-75 w-50"
    display: flex ;
    flex-direction: row;
    height: 70%;
    width: 50%;
}

.all-priority {
    
    display: none;
    width: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;

}

// .all-priority span{
//     border-radius: 5px;
//     color: white;
//     display: flex;
//     padding: 0.25rem;
//     justify-content: center;
//     align-items: center;
//     background-color: #11A483;
//     text-align: center;
// }
.select-btn-priority{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    width: 90px;
    height: 32px;
    box-shadow: 0 0 5px #E9E9E9;
    transition: all ease-in 1s;
}

.all-priority input{
 display: none;
}
.alltags{
    transition: all ease-in 1s;

    width:100%;
    justify-content: start;
    align-items: start;
    text-align: start;
}
.alltags button{
    display: flex;
    gap: 10px;
}

.rotate-180{
    transform: rotate(90deg);
}
