@import url("https://v1.fontapi.ir/css/Yekan");
$font-stack: "yekan";

body{
    font-family: $font-stack;


}

:root{
    --buton-color:red;
    


    
}


.himan{
    width: 100%;
    background-color: #FF5F37;
}
.groupcard{
    width: 60%;
    height:40%;
    overflow:auto;
}
.cardin{
height: 33%;
width: 100%;
display: flex;
justify-content: start;
align-items: center;
border: 1px solid rgba(158, 158, 158, 0.378);
border-radius: 6px;
}

.borderhigh{
    width: 1.2%;
    height: 90%;
    border-radius:10px 0 0 10px;
    display: flex;
    flex-direction: row;
    background-color: #e63b10;
}
.high{
  background-color: #FFE2DB;  
  width: 50px;
  color: #FF5F37;
  font-size: 12px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}
.bordermidel{
    width: 1.2%;
    height: 90%;
    border-radius:10px 0 0 10px;
    display: flex;
    flex-direction: row;
    background-color: #FFAF37;
}
.midel{
    background-color:#FFE2DB;  
  width: 50px;
  color: #FFAF37;
  font-size: 12px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}
.borderlower{
    width: 1.2%;
    height: 90%;
    border-radius:10px 0 0 10px;
    display: flex;
    flex-direction: row;
    background-color: #11A483;
}
.lower{
    background-color:#C3FFF1;  
    width: 50px;
    color: #11A483;
    font-size: 12px;
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}


.mystyle{

text-decoration: line-through;
}
.checkboxs{
    // d-flex align-items-start justify-content-center h-100 "
    width: 7%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;

}
.checkboxcard{
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: row;

    // d-flex flex-row h-75 w-50"
}
.inputtextuser{
    // w-75 h-100 d-flex flex-column justify-content-start align-items-start pt-3
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 8px;
}
.titleuser{
    // fw-bold fs-6 w-100 h-45 d-flex justify-content-start
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: start;
}
.noteuser{
    // fw-light w-100 h-50 d-flex mt-2
    font-weight: lighter;
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 6px;
    font-size: 12px;
}
.buttomMore{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 20%;
    height: 100%;
}
.svgButtoms{
    height:75%;
    width: 50%;; 
}
.svgButtom{
    width:100%;
    height: 50%;
}
.btnMore{
    position: absolute;
    justify-content:space-between;
    align-items: center;
    border-radius: 6px;
    gap: 1px;
    width: 70px;
    height: 30px;
    bottom: 0;
.btnremove{
    border: 0;
    border-radius: 6px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;

  
}

.btnremove:hover{
    transition: all 200ms ease-in-out;
    background-color: white;

}
.btnrename{
    height: 100%;
    border: 0;
    border-radius: 6px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;

}
.btnrename:hover{
    transition: all 200ms ease-in-out;
    background-color: white;

}

}


.all-priority {
    
    display: none;
    width: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;

}

// .all-priority span{
//     border-radius: 5px;
//     color: white;
//     display: flex;
//     padding: 0.25rem;
//     justify-content: center;
//     align-items: center;
//     background-color: #11A483;
//     text-align: center;
// }
.select-btn-priority{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    width: 90px;
    height: 32px;
    box-shadow: 0 0 5px #E9E9E9;
    transition: all ease-in 1s;
}

.all-priority input{
 display: none;
}
.alltags{
    transition: all ease-in 1s;

    width:100%;
    justify-content: start;
    align-items: start;
    text-align: start;
}
.alltags button{
    display: flex;
    gap: 10px;
}

.rotate-180{
    transform: rotate(90deg);
}
